h1 {
  color: orange;
  margin-left: 10%;
  font-size: 5em;
  font-weight: bold;
  text-shadow: 3px 3px 3px #000;
}
nav {
  margin: 10% 10%;
  /*margin-left: 10%;*/
}

body {
    position: relative;
}
.cart {
  margin-left: 10%;
  background: #fff;
  position: fixed;
  z-index: 20;
}
.chkoutImg {
  height: 80px;
  float: left;
}
table {
  margin-top: 5%;
}
td.final {
  border: 1px solid #DCDCDC;
}
td.ppi {
  border: 1px solid #DCDCDC;
  text-align: center;
}
